.filters {
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
}

.chips {
    display: inline-block;
    margin: 8px;
}

.chips-button {
    height: 32px;
    background-color: var(--md-sys-color-surface-container-low);
    border-color: var(--md-sys-color-outline);
    color: var(--md-sys-color-on-surface-container);
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
    padding: 0 16px 0 16px;
    font-size: 14px;
}

.chips-button:hover {
    background-color: var(--md-sys-color-secondary-container);
    border-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-surface-variant);
}

.heading-section {
    margin-top: 40px;
    padding-left: 30px;
}

.heading {
    font-size: 30px;
}

.grid-thumbnails {
    padding: 20px;

    --visible-cols: 3;
    --col-gap: 0px;
    --col-hint: 0px;
    --scrollbar-padding: 20px;
    --col-size: calc((100% / var(--visible-cols)) - var(--col-gap) - var(--col-hint) / var(--visible-cols));

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--col-size);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: var(--col-size);
    overflow-x: auto;
    overflow-y: hidden;
    /* grid-gap: var(--col-gap); */
    padding-bottom: var(--scrollbar-padding);
}

.medium-thumbnails,
.artist-thumbnails {
    display: grid;
    /* align-items: center; */
    padding: 20px;

    --visible-cols: 5;

    --col-gap: 0px;

    --col-hint: 0px;

    --scrollbar-padding: 20px;

    --col-size: calc(100% / var(--visible-cols));

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--col-size);
    grid-auto-columns: var(--col-size);
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: var(--scrollbar-padding);
}

.info {
    border-radius: 10px;
}

.medium-thumbnails .info,
.artist-thumbnails .info {
    padding: 4%;
}

.medium-thumbnails a,
.artist-thumbnails a,
.queue-thumbnails a,
.grid-thumbnails a {
    text-decoration: none;
    color: inherit;
}

.medium-thumbnails a:hover,
.artist-thumbnails a:hover,
.queue-thumbnails a:hover,
.grid-thumbnails a:hover {
    text-decoration: underline;
    color: inherit;
}

.grid-thumbnails .info {
    padding: 5px;
}

.queue-thumbnails .info {
    padding: 5px;
}

.grid-thumbnails .thumbnail-section {
    height: 80px;
}

.queue-thumbnails .thumbnail-section {
    height: 80px;
}

.grid-thumbnails .title-section,
.queue-thumbnails .title-section {
    flex: 1;
}

.medium-thumbnails .info {
    flex-direction: column;
}

.artist-thumbnails .info {
    align-items: center;
    flex-direction: column;
}

.thumbnail-section {
    height: max-content;
    position: relative;
}

.thumbnail {
    height: 100%;
    width: 100%;
}

.thumbnail-image {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 10%;
}

.thumbnail-section .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    left: 0;
    top: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info:hover {
    background-color: var(--md-sys-color-surface-container-high);
}

.info:hover .overlay {
    opacity: 1;
}

.overlay .play-pause {
    --overlay-width: 40px;
    --overlay-height: 40px;
    height: var(--overlay-height);
    width: var(--overlay-width);
    position: absolute;
    left: calc(50% - var(--overlay-width)/2);
    top: calc(50% - var(--overlay-height)/2);
}

.overlay .action-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
}

.overlay .action-buttons .controls-button {
    background-color: var(--md-sys-color-surface-container-high);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 4px;
}

.overlay .action-buttons .controls-button:hover {
    background-color: var(--md-sys-color-surface-container-highest);
}

.title-section {
    padding: 5px 10px;
}

.artist-image {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.wide-thumbnails {
    display: grid;

    align-items: center;
    padding: 20px;

    --visible-cols: 3.5;

    --col-gap: 20px;

    --col-hint: 0px;

    --scrollbar-padding: 20px;

    --col-size: calc((100% / var(--visible-cols)) - var(--col-gap) - var(--col-hint) / var(--visible-cols));

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--col-size);
    grid-template-rows: 65%;
    grid-auto-columns: var(--col-size);
    overflow-x: auto;
    overflow-y: hidden;
    grid-gap: var(--col-gap);
    padding-bottom: var(--scrollbar-padding);
}

.wide-thumbnails .info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wide-thumbnails .thumbnail-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wide-thumbnails .thumbnail {
    height: 100%;
    width: 100%;
}

.wide-thumbnails .thumbnail-image {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Large and Extra Large */

@media (min-width: 600px) and (max-width: 1200px) {
    /* .featured{
        max-height: 400px;
        --visible-cols: 3;
        grid-template-rows: 100%;
    }
    .featured-image{
        width: auto;
        height: 100%;
    }
    .item1{
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .item1 .featured-image{
        height: auto;
        width: 100%;
    }
    .item2{
        grid-column: 3;
        grid-row: 1;
    }
    .item3{
        grid-column: 4;
        grid-row: 1;
    }
    .featured .info{
        height: 100%;
    } */
}

@media (max-width: 600px) {

    /* .featured{
        max-height: 300px;
        --visible-cols: 1;
        grid-template-rows: 100%;
    }
    .item1{
        grid-column: 1;
        grid-row: 1;
    }
    .item2{
        grid-column: 2;
        grid-row: 1;
    }
    .item3{
        grid-column: 3;
        grid-row: 1;
    }
    .featured .info{
        height: 100%;
    } */
    .medium-thumbnails,
    .artist-thumbnails {
        --visible-cols: 2;
    }

    .wide-thumbnails {
        --visible-cols: 1.5;
    }
}

@media (min-width: 600px) and (max-width: 840px) {

    /* .featured{
        --visible-cols: 2;
        max-height: 350px;
    } */
    .medium-thumbnails,
    .artist-thumbnails {
        --visible-cols: 3;
    }

    .wide-thumbnails {
        --visible-cols: 1.5;
    }
}

@media (min-width: 840px) and (max-width: 1200px) {

    .medium-thumbnails,
    .artist-thumbnails {
        --visible-cols: 4;
    }

    .wide-thumbnails {
        --visible-cols: 2;
    }
}

@media (min-width: 1200px) {

    .medium-thumbnails,
    .artist-thumbnails {
        --visible-cols: 5;
    }

    .wide-thumbnails {
        --visible-cols: 3;
    }
}