.filters {
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
}

.filter-chips {
    display: inline-block;
    margin: 8px;
}

.filter-chips-button {
    height: 32px;
    background-color: var(--md-sys-color-surface-container-low);
    border-color: var(--md-sys-color-outline);
    color: var(--md-sys-color-on-surface-container);
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
    padding: 0 16px 0 16px;
    font-size: 14px;
}

.filter-chips-button:hover {
    background-color: var(--md-sys-color-secondary-container);
    border-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-surface-variant);
}

.heading-section {
    margin-top: 40px;
    padding-left: 30px;
}

.heading {
    font-size: 30px;
}

.grid-thumbnails {
    padding: 20px;

    --visible-cols: 3;
    --col-gap: 0px;
    --col-hint: 0px;
    --scrollbar-padding: 20px;
    --col-size: calc((100% / var(--visible-cols)) - var(--col-gap) - var(--col-hint) / var(--visible-cols));

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--col-size);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: var(--col-size);
    overflow-x: auto;
    overflow-y: hidden;
    /* grid-gap: var(--col-gap); */
    padding-bottom: var(--scrollbar-padding);
}

.medium-thumbnails {
    display: grid;
    /* align-items: center; */
    padding: 20px;

    --visible-cols: 5;

    --col-gap: 0px;

    --col-hint: 0px;

    --scrollbar-padding: 20px;

    --col-size: calc(100% / var(--visible-cols));

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--col-size);
    grid-auto-columns: var(--col-size);
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: var(--scrollbar-padding);
}

.info {
    border-radius: 10px;
}

.medium-thumbnails .info {
    padding: 4%;
}

.medium-thumbnails a,
.queue-thumbnails a,
.grid-thumbnails a {
    text-decoration: none;
    color: inherit;
}

.medium-thumbnails a:hover,
.queue-thumbnails a:hover,
.grid-thumbnails a:hover {
    text-decoration: underline;
    color: inherit;
}

.grid-thumbnails .info {
    padding: 5px;
}

.queue-thumbnails .info {
    padding: 5px;
}

.grid-thumbnails .thumbnail-section {
    height: 80px;
}

.queue-thumbnails .thumbnail-section {
    height: 80px;
}

.grid-thumbnails .title-section,
.queue-thumbnails .title-section {
    flex: 1;
}

.medium-thumbnails .info {
    flex-direction: column;
}

.medium-thumbnails .artist {
    align-items: center;
    flex-direction: column;
}

.medium-thumbnails .artist-title {
    text-align: center;
}

.thumbnail-section {
    height: max-content;
    position: relative;
}

.thumbnail {
    height: 100%;
    width: 100%;
}

.thumbnail-image {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 10%;
}

.thumbnail-section .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    left: 0;
    top: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-info {
    text-transform: capitalize;
}

.info:hover {
    background-color: var(--md-sys-color-surface-container-high);
}

.info:hover .overlay {
    opacity: 1;
}

.overlay .play-pause {
    --overlay-width: 40px;
    --overlay-height: 40px;
    height: var(--overlay-height);
    width: var(--overlay-width);
    position: absolute;
    left: calc(50% - var(--overlay-width)/2);
    top: calc(50% - var(--overlay-height)/2);
}

.overlay .action-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
}

.overlay .controls {
    background-color: var(--md-sys-color-primary-container);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 4px;
}

.controls {
    color: var(--md-sys-color-on-primary-container);
}

.play-pause svg {
    fill: var(--md-sys-color-on-primary-container)
}

.overlay .controls :hover {
    background-color: var(--md-sys-color-surface-container-highest);
}

.controls :hover {
    color: var(--md-sys-color-on-secondary-container);
}

.controls :hover svg {
    fill: var(--md-sys-color-on-secondary-container)
}

.title-section {
    padding: 5px 10px;
}

.artist-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

/* Large and Extra Large */

@media (max-width: 600px) {

    .medium-thumbnails {
        --visible-cols: 2;
    }
}

@media (min-width: 600px) and (max-width: 840px) {

    .medium-thumbnails {
        --visible-cols: 3;
    }
}

@media (min-width: 840px) and (max-width: 1200px) {

    .medium-thumbnails {
        --visible-cols: 4;
    }
}

@media (min-width: 1200px) {

    .medium-thumbnails {
        --visible-cols: 5;
    }
}