/* @import "./css/light.css"; */

@import "./css/dark.css";

body {
    font-family: Roboto, Arial;
    margin: 0;
    transition: padding 0.2s;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    cursor: context-menu;
}

.body {
    padding-left: 240px;
    padding-bottom: 80px;
}

.logo-section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 8px 15px;
}

.app-name {
    /* color: var(--md-sys-color-primary); */
    background: linear-gradient(38deg,
            var(--md-sys-color-tertiary) 15%,
            var(--md-sys-color-secondary) 38%,
            var(--md-sys-color-primary) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-left: 10px;
    font-size: 20px;
}

/* .RoomContext {
    position: fixed;
    background-color: red;
    left: 0;
    top: 0;
    z-index: 10;
} */

@media (max-width: 600px) {
    .body {
        padding-left: 0px;
        padding-bottom: 160px;
    }

    .logo-section {
        position: absolute;
    }

    .logo-image {
        height: 40px;
        width: 40px;
    }

    .header {
        padding-left: 60px;
    }

    .app-name {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .body {
        padding-left: 80px;
    }

    .app-name {
        display: none;
    }
}

@media (min-width: 1200px) {
    .body {
        padding-left: 240px;
    }
}

div::-webkit-scrollbar {
    display: none;
}