.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    top: 0;
    right: 0;
    /* padding-left: 20px; */
}

.left-section {
    padding: 12px;
    padding-left: 20px;
}

.top-destination {
    font-size: 36px;
}

.search-section {
    flex: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.search-bar {
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    height: 40px;
    border-radius: 0 20px 20px 0;
    font-size: 16px;
    padding-left: 20px 0 10px 0;
    flex: 1;
    width: 0;
    opacity: 1;
    border: none;
}

.search {
    background-color: var(--md-sys-color-surface-container-high);
    height: 42px;
    width: 60px;
    border-radius: 20px 0 0 20px;
    border: none;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-compact {
    background-color: var(--md-sys-color-surface-container-high);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search svg {
    fill: var(--md-sys-color-on-surface)
}

.search-compact svg {
    fill: var(--md-sys-color-on-surface)
}

.voice-search {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.right-section {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-section .icon-button {
    height: 40px;
    width: 40px;
    border: 0;
    background-color: inherit;
    border-radius: 20px;
}

.header .icon :hover {
    background-color: var(--md-sys-color-secondary-container);
}

.profile-icon {
    border: 0;
    border-radius: 20px;
}

.profile-icon-image {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.login-button a {
    text-decoration: none;
    color: inherit;
}

.login-button a:hover {
    text-decoration: underline;
    color: inherit;
}

@media (max-width: 600px) {
    .search-section {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {}

@media (min-width: 600px) {
    .search-btn-container-compact {
        display: none;
    }
}