.info{
    display: flex;
    padding: 20px;
}
.artist-info{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.large-thumbnail{
    height: 400px;
    width: 100%;
    padding: 10px;
}
.large-artist-thumbnail{
    height: 500px;
    width: 100%;
}
.large-thumbnail-image{
    height: inherit;
    object-fit: contain;
    border-radius: 20px;
}
.info-section{
    flex: 1;
    padding: 10px;
}
.song-name{
    padding: 0px 10px;
    font-size: 36px;
    font-weight: bolder;
}
.song-name{
    padding: 0px 10px;
    font-size: 36px;
    font-weight: bolder;
}
.artist-item-name{
    padding: 0px 10px;
}
.options{
    display: flex;
    padding: 10px;
}
.artist-item{
    padding: 10px;
    display: flex;
    align-items: center;
}
.artist-name{
    padding: 0px 10px;
    font-size: 36px;
    font-weight: bolder;
}
.artist-item-thumbnail{
    height: 100%;
}
.artist-item-image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.artist-item a{
    text-decoration: none;
    color: inherit;
}
.artist-item a:hover{
    text-decoration: underline;
    color: inherit;
}
.song-item{
    padding: 10px;
    display: flex;
    align-items: center;
}
.song-item-thumbnail{
    height: 100%;
}
.song-item-image{
    height: 80px;
    width: 80px;
    border-radius: 10%;
    object-fit: cover;
}
.song-item a{
    text-decoration: none;
    color: inherit;
}
.song-item a:hover{
    text-decoration: underline;
    color: inherit;
}
.song-item-thumbnail-section{
    position: relative;
}
.song-item-thumbnail-section .overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    left: 0;
    top: 0;
    opacity: 0;
}
.song-item-thumbnail-section:hover .overlay{
    opacity: 1;
}
.overlay .play-pause{
    --overlay-width: 40px;
    --overlay-height: 40px;
    height: var(--overlay-height);
    width: var(--overlay-width);
    position: absolute;
    left: calc(50% - var(--overlay-width)/2);
    top: calc(50% - var(--overlay-height)/2);
}
.song-item-name{
    padding: 20px;
}