.playing-widget {
    /* border: 2px solid black; */
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    display: flex;
    height: 72px;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    z-index: 2;
    left: 240px;
    bottom: 0;
    right: 0;
}

.seek-bar-section {
    width: 240px;
}

.widget-center-section {
    flex: 1;
    display: flex;
}

.widget-center-section a {
    text-decoration: none;
    color: inherit;
}

.widget-center-section a:hover {
    text-decoration: underline;
    color: inherit;
}

.widget-right-section {
    display: flex;
}

.widget-thumbnail {
    padding: 2px;
}

.widget-thumbnail-image {
    height: 60px;
    width: 60px;
    border-radius: 10%;
}

.widget-left-section {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.widget-right-section {
    width: 192px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls-button {
    height: 40px;
    width: 40px;
    border: 0;
    background-color: inherit;
    padding: 6px;
    border-radius: 50%;
}

.playing-widget .controls :hover,
.playing-page .controls :hover {
    background-color: var(--md-sys-color-secondary-container);
}

.playing-widget .play-pause-controls :hover,
.playing-page .play-pause-controls :hover {
    background-color: var(--md-sys-color-primary);
}

.play-pause {
    background-color: var(--md-sys-color-primary-container);
}

.play-pause:hover {
    background-color: var(--md-sys-color-primary);
}

.playing-page {
    background-color: var(--md-sys-color-surface-container-high);
    display: flex;
    justify-content: space-around;
    height: auto;
    width: auto;
    align-items: start;
    border-radius: 20px;
    position: fixed;
    z-index: 2;
    left: 240px;
    top: 64px;
    bottom: 0;
    right: 0;
}

.full-left-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.full-left-section a {
    text-decoration: none;
    color: inherit;
}

.full-left-section a:hover {
    text-decoration: underline;
    color: inherit;
}

.full-left-section .seek-bar-section {
    width: 400px;
    padding: 10px;
}

.left-title-section {
    padding: 0px 20px;
}

.left-title-section .title {
    font-size: 36px;
}

.extra-controls-section {
    display: flex;
}

.controls-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.controls-section .controls-button {
    height: 60px;
    width: 60px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.controls-section .play-pause {
    height: 80px;
    width: 80px;
}

.full-right-section {
    width: 400px;
    padding: 20px;
    align-items: center;
    height: 580px;
}

.song-queue-list {
    display: grid;
    height: inherit;
    --visible-rows: 6;
    --row-size: calc(100% / var(--visible-rows));

    grid-auto-flow: row;
    grid-auto-rows: var(--row-size);
    overflow-y: auto;
}

.song-queue-list .song-item {
    width: 400px;
    height: max-content;
    padding: 2px;
}

.song-queue-list .song-item-image {
    height: 60px;
    width: 60px;
}

.tab-switch {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

@media (min-width: 600px) and (max-width: 1200px) {

    .playing-widget,
    .playing-page {
        left: 80px;
    }
}

@media (min-width: 1200px) {

    .playing-widget,
    .playing-page {
        left: 240px;
    }
}

@media (max-width: 600px) {

    .playing-widget,
    .playing-page {
        left: 0px;
        bottom: 80px;
    }

    .playing-page {
        flex-direction: column;
    }
}