.info {
    display: flex;
    padding: 20px;
}

.profile-thumbnail {
    max-height: 560px;
    width: 100%;
    padding: 10px;
}

.profile-thumbnail-image {
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 20px;
}

.info-section {
    flex: 1;
    padding: 10px;
}

.song-name {
    font-size: 36px;
    font-weight: bolder;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logout-button a {
    text-decoration: none;
    color: inherit;
}

.logout-button a:hover {
    text-decoration: underline;
    color: inherit;
}